{% extends "base.html" %}
{% block title %} Add a Course {% endblock %}
{% block content %}


{% if course_id != None %}

    {% set new_name = course['name'] %}
    {% set new_pet_type = course['pet_type'] %}
    {% set new_level = course['level'] %}
    {% set new_start_date = course['start_date'] %}
    {% set new_start_time = course['start_time'] %}
    {% set new_duration = course['duration'] %}
    {% set new_length = course['length'] %}
    {% set new_trainer = course['trainer'] %}
    {% set new_description = course['description'] %}


{% else %}

    {% set new_name ='' %}
    {% set new_pet_type ='' %}
    {% set new_level ='' %}
    {% set new_start_date ='' %}
    {% set new_start_time ='' %}
    {% set new_duration ='' %}
    {% set new_length = '' %}
    {% set new_trainer ='' %}
    {% set new_description ='' %}
    
{% endif %}


<form method="POST" name="add_info">

<div class="form-group row">
        <label for="courseName" class="col-sm-3 col-form-label">Course Name:</label> 
    <div class="col-9">
        <input type="text" id="name" name="name" value="{{new_name}}" required>
    </div>
    </div>

    <div class="form-group row">
        <label for="pet_type" class="col-sm-3 col-form-label">Pet type:</label>
        <div class="col-9">
            <select type="form-select mb-3" id="pet_type" name="pet_type" value="{{new_pet_type}}" placeholder="{{new_pet_type}}">
                <option value="Cat"{% if new_pet_type == "Cat" %} selected {% endif %}>Cat</option>
                <option value="Dog" {% if new_pet_type == "Dog" %} selected {% endif %}>Dog</option>
                <option value="Hampster"{% if new_pet_type == "Hampster" %} selected {% endif %}>Hampster</option>
                <option value="Ferret" {% if new_pet_type == "Ferret" %} selected {% endif %}>Ferret</option>
                <option value="Parrot" {% if new_pet_type == "Parrot" %} selected {% endif %}>Parrot</option>
            </select>
        </div>
        </div>

        <div class="form-group row">
            <label for="level" class="col-sm-3 col-form-label">level:</label>
            <div class="col-9">
            <select type="form-select mb-3" id="level" name="level" value="{{new_level}}">
                <option value="Beginner" {% if new_level == "Beginner" %} selected {% endif %}>Beginner</option>
                <option value="Intermediate"{% if new_level == "Intermediate" %} selected {% endif %}>Intermediate</option>
                <option value="Advanced"{% if new_level == "Advanced" %} selected {% endif %}>Advanced</option>
            </select>
            </div>
        </div>
        <div class="form-group row">
        <label for="start_time" class="col-sm-3 col-form-label">Start time:</label>
        <div class="col-9">
            <input type="time" id="start_time" name="start_time" value="{{new_start_time}}" required>
            </div>
            </div>

            <div class="form-group row">
        <label for="start_date" class="col-sm-3 col-form-label">Start date:</label>
        <div class="col-9">
        <input type="date" id="start_date" name="start_date" value="{{new_start_date}}" required>
    </div>
    </div>
    
    <div class="form-group row">
        <label for="duration" class="col-sm-3 col-form-label">Duration:</label>
        <div class="col-9">
            <select type="form-select mb-3" id="duration" name="duration" value="{{new_duration}}" placeholder="{{new_duration}}">
                <option value="45"{% if new_duration == "45" %} selected {% endif %}>45 minutes</option>
                <option value="60"{% if new_duration == "60" %} selected {% endif %}>60 minutes</option>
                <option value="90"{% if new_duration == "90" %} selected {% endif %}>90 minutes</option> 
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="length" class="col-sm-3 col-form-label">Length:</label>
        <div class="col-9">
            <select type="form-select mb-3" id="length" name="length" value="{{new_length}}">
                <option value="4"{% if new_length == "4" %} selected {% endif %}>4 weeks</option>
                <option value="6"{% if new_length == "6" %} selected {% endif %}>6 weeks</option>
                <option value="8"{% if new_length == "8" %} selected {% endif %}>8 weeks</option> 
            </select>
            </div>
    </div>

    <div class="form-group row">
            <label for="trainer" class="col-sm-3 col-form-label">trainer:</label>
            <div class="col-9">
            <input type="text" id="trainer" name="trainer" value="{{new_trainer}}">
            </div>
        </div>

        <div class="form-group row">
            
            <label for="description" class="col-sm-3 col-form-label">description:</label>
            <div class="col-9">
            <textarea type="text" id="description" name="description" value="{{new_description}}" placeholder="{{new_description}}">{{new_description}}</textarea>
        </div>
        </div>


<button type="submit" value="Submit" class="btn btn-dark">Submit</button>
<button type="reset" value="Reset" class="btn btn-dark">Reset</button>
</form>

{% endblock %}