{% extends "base.html" %}
{% block title %} Course {% endblock %}
{% block content %}


<!-- level,start_date,start_time,duration,trainer,description -->
<div>
  <h1>{{course['name']}}</h1>
    <!-- making a description list alignment so it is nice and neatly presented. it accesses each item individually-->
    <dl class="row">
        <dt class="col-sm-3">Pet type:</dt>
        <dd class="col-sm-9">{{course['pet_type']}}</dd>

        <dt class="col-sm-3">Level:</dt>
        <dd class="col-sm-9">{{course['level']}}</dd>

        <dt class="col-sm-3">Start Date:</dt>
        <dd class="col-sm-9">{{course['start_date']}}</dd>

        <dt class="col-sm-3">Start Time:</dt>
        <dd class="col-sm-9">{{course['start_time']}}</dd>

        <dt class="col-sm-3">Duration:</dt>
        <dd class="col-sm-9">{{course['duration']}}</dd>

        <dt class="col-sm-3">Trainer:</dt>
        <dd class="col-sm-9">{{course['trainer']}}</dd>

        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9"><p>{{course['description']}}</p></dd>
    
      </dl>

</div>
{% endblock %}
