{% extends "base.html" %}
{% block title %} Course {% endblock %}
{% block content %}

<!-- level,start_date,start_time,duration,trainer,description -->
<div>
  <h1>{{courseName}}</h1>
    <!-- making a description list alignment so it is nice and neatly presented -->
<dl class="row">
    <dt class="col-sm-3">Pet type:</dt>
    <dd class="col-sm-9">{{courseInfo['pet_type']}}</dd>

    <dt class="col-sm-3">Level:</dt>
    <dd class="col-sm-9">{{courseInfo['level']}}</dd>

    <dt class="col-sm-3">Start Date:</dt>
    <dd class="col-sm-9">{{courseInfo['start_date']}}</dd>

    <dt class="col-sm-3">Start Time:</dt>
    <dd class="col-sm-9">{{courseInfo['start_time']}}</dd>

    <dt class="col-sm-3">Duration:</dt>
    <dd class="col-sm-9">{{courseInfo['duration']}}</dd>

    <dt class="col-sm-3">Trainer:</dt>
    <dd class="col-sm-9">{{courseInfo['trainer']}}</dd>

    <dt class="col-sm-3">Description:</dt>
    <dd class="col-sm-9"><p>{{courseInfo['description']}}</p></dd>
    </dl>
</div>
{% endblock %}
