{% extends "base.html" %}
{% block title %} Courses {% endblock %}
{% block content %}
<h1>Happy Buddy Pet </h1>
<!-- a striped table with each class -->
<div>
    
    <table class="table table-striped mt-5">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Pet Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">Length</th>
            <th scope="col">time</th>
            <th scope="col">trainer</th>
            </tr>
        </thead>
        
        <tbody>
            {% for i in courseList %}
            <tr>
                <td scope="row"> <a href="{{url_for('courses', courseName=courseList.index[i])}}">{{i['name']}}</a></td>
                <td>{{i['start_date']}}</td>
                <td>{{i['start_date']}}</td>
                <td>{{i['duration']}}</td>
                <td>{{i['start_time']}}</td>
                <td>{{i['trainer']}}</td>

            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}

